.container {
    display: flex;
    flex-direction: column; /* Permite alinhar o botão e a tabela verticalmente */
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .table {
    width: 800px;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: small
  }
  
  .table th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #0097B2
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }  