/* Container for the UserBar */
.userbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    color: #333;
}

/* User info and unit section styles */
.user-info,
.user-unit {
    margin: 0 140px;
    margin-left: 160px;
    margin-right: 140px;
    display: flex;
    align-items: center;
}

/* Add spacing specifically for the user name */
.user-name {
    margin-left: 5px; /* Espaço entre 'Usuário:' e o nome */
}

/* Select dropdown for the unit */
.user-select {
    margin-left: 5px;
    padding: 2px 8px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

/* Add focus and hover effects */
.user-select:focus {
    outline: none;
    border-color: #0097b2;
}

.user-select:hover {
    border-color: #666;
}